<div class="public-cal-card max-w-sm p-6 bg-white rounded-lg shadow dark:bg-gray-800 ">
  <div class="flex flex-row justify-between align-items-center">
    <a>
      <h5 class="mb-2 text-2xl mr-2 font-bold tracking-tight text-gray-900 dark:accent-font-col">{{ title }}</h5>
    </a>
    <label class="text-center rounded-2xl p-1 text-xs text-white ms-4"
           (click)="openConfigModal()"
           [ngClass]="isAdded ? 'bg-added' : 'bg-notadded'"
    >{{ isAdded ? 'Already Added' : 'Add to collection' }}</label>
  </div>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ desc }}</p>

</div>
