<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Create a Configuration</h3>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="configurationForm" (ngSubmit)="createConfiguration()">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="configDescp" placeholder="Configuration Name"
                formControlName="name">
              <label for="configName">Configuration Name</label>
              <div *ngIf="submitted && configurationForm.controls.link.errors" class="error">
                <small class="form-text text-warning" *ngIf="configurationForm.controls.link.errors.required">
                  Name is required!
                </small>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="configDesc" placeholder="Configuration Description"
                formControlName="description">
              <label for="configDesc">Configuration Description</label>
              <div *ngIf="submitted && configurationForm.controls.link.errors" class="error">
                <small class="form-text text-warning" *ngIf="configurationForm.controls.link.errors.required">
                  Description is required!
                </small>
              </div>
            </div>
            <div>
              <div class="form-floating">
                <select class="form-select" formControlName="calendar">
                  <option *ngFor="let cal of calendars" [value]="cal">{{ cal.name }}</option>
                </select>
                <label for="selectEffectType">Select Calendar</label>
              </div>
              <div *ngIf="submitted && configurationForm.controls.name.errors" class="error">
                <small class="form-text text-warning" *ngIf="configurationForm.controls.name.errors.required">
                  You have to select a calendar!
                </small>
              </div>
            </div>
            <br>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="public" id="public" formControlName="public">
              <label class="form-check-label" for="public">
                Public
              </label>
            </div>
            <br>
            <div class="card">
              <div class="card-header">
                Rules
              </div>
              <div class="card-body">
                <div>
                  <div class="list-group">
                    <button *ngFor="let rule of demoRules" (click)="setActiveRule(rule)" type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                      {{rule.match.summary}}
                      <span class="badge rounded-pill" [class.bg-warning]="rule.effect.effectType === 'Modify'"
                        [class.bg-success]="rule.effect.effectType === 'Delete'">{{rule.effect.effectType}}</span>
                    </button>
                    <button (click)="setActiveNewRule()" type="button"
                      class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                      New Rule <i class="bi bi-plus"></i>
                    </button>
                  </div>
                </div>
                <br>
                <!--Display Current Rule-->
                <div class="form-floating">
                  <select class="form-select" id="selectEffectType" aria-label="selectRuleType"
                    [(ngModel)]="currentRule.effect.effectType" [ngModelOptions]="{standalone: true}">
                    <option value="Modify">Modify</option>
                    <option value="Delete">Delete</option>
                  </select>
                  <label for="selectEffectType">Effect Type</label>
                </div>
                <br>
                <input type="text" id="matchSummary" class="form-control" placeholder=""
                  [(ngModel)]="currentRule.match.summary" [ngModelOptions]="{standalone: true}">
                <br>
                <select class="form-select" aria-label="MatchType" [(ngModel)]="currentRule.match.summaryMatchType"
                  [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let type of getEnumValues(MatchType)" [value]="type">{{ type }}</option>
                </select>
                <br>
                <div>
                  <button style="float: left;" type="button" class="btn btn-danger"
                    (click)="removeRule()">Remove</button>
                  <button style="float: right;" type="button" class="btn btn-primary" (click)="addRule()">Add</button>
                </div>
              </div>
            </div>
            <br>
            <button type="button" (click)="createConfiguration()" [disabled]="!configurationForm.valid"
              class="btn btn-success float-right">Create</button>

          </form>
        </div>

      </div>

    </div>
  </div>
</div>