<div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-4 h-full ">
  <div class="row h-full">
    <div class="col-md-6 mx-auto h-[90%] overflow-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">New Configuration</h3>
        </div>

        <div class="card-body">
          <form class="form flex flex-col gap-4" [formGroup]="configurationForm" (ngSubmit)="previewConfiguration()">
            <div class="">
              <input type="text" class="form-control" id="configName" placeholder="Configuration Name"
                     formControlName="name">
              <div *ngIf="submitted && configurationForm.controls.link.errors" class="error">
                <small class="form-text text-warning" *ngIf="configurationForm.controls.link.errors.required">
                  Name is required!
                </small>
              </div>
            </div>
            <div class="">
              <input type="text" class="form-control" id="configDesc" placeholder="Configuration Description"
                     formControlName="description">
              <div *ngIf="submitted && configurationForm.controls.link.errors" class="error">
                <small class="form-text text-warning" *ngIf="configurationForm.controls.link.errors.required">
                  Description is required!
                </small>
              </div>
            </div>
            <div class="form-floating h-[38px]">
              <select class="form-select p-2 " formControlName="calendar">
                <option *ngFor="let cal of calendars" [value]="cal.id">{{ cal.name }}</option>
              </select>
            </div>
            <div *ngIf="submitted && configurationForm.controls.name.errors" class="error">
              <small class="form-text text-warning" *ngIf="configurationForm.controls.name.errors.required">
                You have to select a calendar!
              </small>
            </div>
            <div class="mt-2" *ngIf="prefilled !== null">
              <label class="relative inline-flex items-center cursor-pointer">
                <input class="form-check-input sr-only peer" type="checkbox" name="public" id="public" formControlName="public">
                <div class="w-11 h-6 bg-popover-light peer-focus:outline-none peer-focus:ring-4 peer-focus:border-info dark:peer-focus:ring-border-info rounded-full peer dark:bg-border-info peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-border-info after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-info peer-checked:bg-addedLight"></div>
                <span class="ms-3 text-sm font-medium text-gray-900 dark:text-gray-300">{{ configurationForm.controls['public'].value === false ? 'Private' : 'Public' }}</span>
              </label>
            </div>
            <div class="card">
              <h5 class="card-header">
                Rules
              </h5>
              <div class="card-body">
                <h5 class="mb-2">Added Rules {{allRules.length}}</h5>
                <div class="flex flex-col pt-2">
                  <div class="list-group flex pt-2" *ngFor="let rule of allRules; let i = index">
                    <app-rule-fold-input [rule]="rule" [tags]="tags" (deleteRuleEvent)="deleteRule($event)"></app-rule-fold-input>
                  </div>
                </div>
                <!--Display Current Rule-->
                <h5  class="mt-2 flex gap-2 items-baseline">New Rule <i matTooltip="Current Rule is added automatically when previewing" class="bi bi-info-circle"></i></h5>
                <div class="px-2 py-2 border-x border-y border-popover-light rounded">
                  <p class="font-bold">Match by:</p>
                  <div class="row">
                    <div class="col-auto">
                      <div class="">
                        <select class="form-select" aria-label="MatchType" id="selectMatchTypeSummary"
                                [(ngModel)]="currentRule.match.summaryMatchType" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let type of getEnumValues(MatchType)" [value]="type">{{ type }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <input type="text" id="inputMatchSummary" class="form-control" placeholder="Summary match"
                               [(ngModel)]="currentRule.match.summary" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-auto">
                      <div class="">
                        <select class="form-select" aria-label="MatchType" id="selectMatchTypeDescription"
                                [(ngModel)]="currentRule.match.descriptionMatchType"
                                [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let type of getEnumValues(MatchType)" [value]="type">{{ type }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <input type="text" id="inputMatchDescription" class="form-control"
                               placeholder="Description match"
                               [(ngModel)]="currentRule.match.description" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-auto">
                      <div class="">
                        <select class="form-select" aria-label="MatchType" id="selectMatchTypeLocation"
                                [(ngModel)]="currentRule.match.locationMatchType" [ngModelOptions]="{standalone: true}">
                          <option *ngFor="let type of getEnumValues(MatchType)" [value]="type">{{ type }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col">
                      <div class="">
                        <input type="text" id="inputMatchLocation" class="form-control" placeholder="Location match"
                               [(ngModel)]="currentRule.match.location" [ngModelOptions]="{standalone: true}">
                      </div>
                    </div>
                  </div>
                  <div class="flex flex-col">
                    <div class="flex flex-row justify-between align-items-center">
                      <a>
                        <p class="mb-2 font-bold pt-2">Effect</p>
                      </a>
                      <div class="flex gap-2">
                        <label class="cursor-pointer rounded-2xl p-1 text-xs text-white"
                               (click)="currentRule.effect.effectType = EffectType.DELETE"
                               [ngClass]="!isDeleteEffect() ? 'bg-redDeactivated' : 'bg-red'">{{ isDeleteEffect() ? 'Delete' : 'Delete' }}</label>
                        <label class="cursor-pointer rounded-2xl p-1 text-xs text-white"
                               (click)="currentRule.effect.effectType = EffectType.MODIFY"
                               [ngClass]="!isModifyEffect() ? 'bg-notaddedDeactivated': 'bg-notadded' ">{{ isDeleteEffect() ? 'Modify' : 'Modify' }}</label>
                        <label class="cursor-pointer rounded-2xl p-1 text-xs"
                               (click)="currentRule.effect.effectType = EffectType.TAG"
                               [ngClass]="!isTagEffect() ? 'bg-infoDeactivated': 'bg-info' ">{{ isDeleteEffect() ? 'Tag' : 'Tag' }}</label>
                      </div>
                    </div>
                    <div *ngIf="isModifyEffect()">
                      <div class="row">
                        <div class="col">
                          <div class="">
                            <input type="text" id="inputEffectSummary" class="form-control" placeholder="Changed Title"
                                   [(ngModel)]="currentRule.effect.changedTitle" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col">
                          <div class="">
                            <input type="text" id="inputEffectDescription" class="form-control"
                                   placeholder="Changed Description"
                                   [(ngModel)]="currentRule.effect.changedDescription"
                                   [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                      <br>
                      <div class="row">
                        <div class="col">
                          <div class="">
                            <input type="text" id="inputEffectLocation" class="form-control"
                                   placeholder="Changed Location"
                                   [(ngModel)]="currentRule.effect.location" [ngModelOptions]="{standalone: true}">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="isTagEffect()">
                      <div class="flex flex-row justify-start align-items-center flex-wrap text-white">
                        <label class="cursor-pointer rounded-2xl px-3 py-1 mx-1 my-1"
                               *ngFor="let tag of tags"
                               (click)="tagClicked(tag)"
                               [ngClass]="selectedTag === tag ? 'bg-added border-x border-y border-added text-white' : 'bg-transparent border-popover border-x border-y box-border text-popover-light'">{{ tag.tag }}</label>
                      </div>
                      <div class="flex flex-row mt-3">
                        <input type="text" id="newTag" class="form-control w-3/5 mr-3"
                               placeholder="New Tag"
                               [(ngModel)]="newTag" [ngModelOptions]="{standalone: true}">
                        <button type="button" (click)="addTag()" class="border-popover border-x border-y p-2 rounded hover:border-popover-light w-1/5">
                          <i class="bi bi-plus-lg"></i>
                          Add Tag
                        </button>
                      </div>
                    </div>
                    <div matTooltip="Add Rule" *ngIf="currentRuleValid()" (click)="addRule()"
                         class="w-full border-y flex justify-center border-x border-popover rounded mt-3 hover:text-white cursor-pointer hover:border-popover-light">
                      <a class="cursor-pointer content-center" aria-label="Token">
                        <i class="bi bi-plus-lg" style="font-size: 1rem;"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex pb-2" [matTooltip]="(!configurationForm.valid || !configValid()) ? 'Add a Rule first' : null" type="button">
              <button (click)="previewConfiguration()" [disabled]="!configurationForm.valid || !configValid()"
                      class="btn btn-success w-full">Preview
              </button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
