<div class="max-h-[95%] h-full">
  <div class="flex flex-row h-full ">
    <div class="min-w-[12rem] w-1/10 h-full border-r border-popover p-6">
      <!-- Dropdown button -->
      <!--Buttons-->
      <div class="flex flex-col w-full max-h-full">
        <!--Buttons-->
        <!--Importierte Kalender-->
        <div class="pb-4 border-b border-popover ">
          <div class="flex gap-3 align-items-baseline">
            <h5 class="">Calendars</h5>
            <i matTooltip="Import a Calendar" class="bi bi-plus-square cursor-pointer" (click)="openModal('import')"></i>
          </div>
          <label class="form-check-label pb-2" [for]="1">
            <input class="form-check-input" type="checkbox" [id]="1" [(ngModel)]="allCalEnabled">
            Show all
          </label>
          <div *ngFor="let calendar of calendars" class="text-center mt-3">
            <div class="border-y border-x border-popover rounded p-2">
              <h4 class="border-b border-popover pb-2" >{{calendar.name}}</h4>
              <div matTooltip="Applied Configs" *ngFor="let config of calendar.configs" class="py-1 h-fit" style="line-height: 1rem">
                {{config.title}}
              </div>
              <div class="flex flex-row justify-baseline items-center justify-between pt-2">
                <input matTooltip="Show"  class="form-check-input cursor-pointer my-auto" type="checkbox" [id]="'cal' + calendar.id"
                       [(ngModel)]="calendar.isActive"
                       [style.background-color]="calendar.isActive ? calendar.color : '#ffffff'"
                       [style.border-color]="calendar.color">
                <a matTooltip="Delete" class="cursor-pointer" aria-label="Delete" (click)="openDeleteModal(calendar)">
                  <i class="bi bi-trash" style="font-size: 1rem"></i>
                </a>
                <a  matTooltip="Edit"class="cursor-pointer" aria-label="Edit" (click)="openEditPage(calendar)">
                  <i class="bi bi-pencil" style="font-size: 1rem;"></i>
                </a>
                <a matTooltip="Download as File" class="cursor-pointer" aria-label="Edit" (click)="downloadCalendar(calendar)">
                  <i class="bi bi-download" style="font-size: 1rem;"></i>
                </a>
                <a matTooltip="Export" class="cursor-pointer" aria-label="Token" (click)="openTokenModal(calendar)">
                  <i class="bi bi-rocket-takeoff" style="font-size: 1rem;"></i>
                </a>
              </div>
            </div>
          </div>
        </div>

        <!--Importierte Kalender-->
        <!--Neuen Kalender importieren-->

        <!--Neuen Kalender importieren-->
        <!--Konfigurationen Anzeigen-->
        <div class="pt-4 flex  flex-col gap-3">
          <div class="flex gap-3 align-items-baseline justify-between">
            <h5 class="">Configs</h5>
            <i matTooltip="Import a Configuration" class="bi bi-plus-square cursor-pointer " (click)="openConfigurationImportModal()"></i>
          </div>
          <div *ngFor="let conf of configurations" class="border-1 border-popover rounded-xl p-2 flex flex-col text-center">
            <label class="form-check-label border-b border-popover pb-2" [for]="'conf' + conf.id">
              {{ conf.title }}
            </label>
            <div class="flex flex-row justify-baseline items-center justify-between p-2">
              <a matTooltip="Delete" class="cursor-pointer" aria-label="Delete" (click)="removeConfiguraion(conf)">
                <i class="bi bi-trash" style="font-size: 1rem"></i>
              </a>
              <a matTooltip="Edit" class="cursor-pointer" aria-label="Edit" (click)="openEditConfigModal(conf)">
                <i class="bi bi-pencil" style="font-size: 1rem;"></i>
              </a>
              <a matTooltip="Download as File" class="cursor-pointer" aria-label="Download" (click)="downloadConfigFile(conf)">
                <i class="bi bi-download" style="font-size: 1rem;"></i>
              </a>
              <a matTooltip="Copy Link to Clipboard" class="cursor-pointer" aria-label="Edit" (click)="copyLinkToClipboard(conf.id)">
                <i class="bi bi-share" style="font-size: 1rem;"></i>
              </a>
            </div>

          </div>
          <div matTooltip="Add a Configuration" (click)="openModal('createConfig')" class="w-full border-y flex justify-center border-x border-popover rounded mt-3 hover:text-white cursor-pointer hover:border-popover-light">
            <a class="cursor-pointer content-center" aria-label="Token">
              <i class="bi bi-plus" style="font-size: 1rem;"></i>
            </a>
          </div>
        </div>

        <!--Konfigurationen Anzeigen-->
      </div>
    </div>
    <div class="basis-11/12 pr-6 pl-6 pt-6 max-h-[90%]">
      <div class="row text-left">
        <!--Navigation-->
        <div class="col-md-5">
          <button type="button" (click)="createCustomEvent()" class="border-x border-y rounded border-popover hover:border-popover-light p-2">
            <i class="bi bi-plus-lg"></i>
            Create Event
          </button>
          <div class="btn" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
               (viewDateChange)="closeOpenMonthViewDay()">
            <i class="bi bi-arrow-left-short" style="font-size: 2rem;"></i>
          </div>
          <button class="border-popover border-x border-y p-2 rounded hover:border-popover-light" mwlCalendarToday [(viewDate)]="viewDate">Today</button>
          <div class="btn" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
               (viewDateChange)="closeOpenMonthViewDay()">
            <i class="bi bi-arrow-right-short" style="font-size: 2rem;"></i>
          </div>

        </div>
        <!--Navigation-->
        <!--Datum Anzeige-->
        <div class="col-md-4">
          <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
        </div>
        <!--Datum Anzeige-->
        <!--Zeitfenster Auswahl-->
        <div class="col-md-3 text-right br">
          <select class="form-select border-x border-y border-popover" [(ngModel)]="view">
            <option [value]="CalendarView.Day">Day</option>
            <option [value]="CalendarView.Week">Week</option>
            <option [value]="CalendarView.Month" selected>Month</option>
          </select>
        </div>
        <!--Zeitfenster Auswahl-->
      </div>
      <br/>
      <div [ngSwitch]="view" class="overflow-y-scroll h-[95%] py-5">
        <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events | eventPipe"
                                 [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
                                 (dayClicked)="dayClicked($event.day)"
                                 (eventClicked)="handleEvent('Clicked', $event.event)"
                                 (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events | eventPipe"
                                [dayStartHour]="5"
                                [weekStartsOn]="1"
                                [dayEndHour]="24"
                                [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                                (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events | eventPipe"
                               [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)"
                               (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>

    </div>
  </div>
</div>
