<div class="flex flex-col p-4">
  <h4>Import a configuration</h4>
  <select class="form-select p-2 mb-4" [(ngModel)]="selectedCal">
    <option *ngFor="let cal of calendars" [value]="cal.id">{{ cal.name }}</option>
  </select>
  <div class="flex flex-col gap-4">
    <div class="gap-2 flex ">
      <label *ngIf="!byLink" class="cursor-pointer w-[63px]  p-1 bg-popover-light rounded" (click)="byLink = true">By Link</label>
      <label *ngIf="!byLink" class="bg-added rounded w-[60px] p-1 cursor-pointer" (click)="byLink = false">By File</label>
      <label *ngIf="byLink" class="bg-added rounded w-[63px] p-1 cursor-pointer"  (click)="byLink = true">By Link</label>
      <label *ngIf="byLink" class="cursor-pointer w-[60px]  p-1 bg-popover-light rounded" (click)="byLink = false">By File</label>
    </div>
    <input *ngIf="byLink" class="form-control" type="text" [(ngModel)]="configUrl" placeholder="Link to calendar import">
    <div  *ngIf="!byLink" class="flex items-center justify-center w-full">
      <label for="dropzone-file" class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 dark:hover:bg-bray-800 dark:bg-gray-700 hover:bg-gray-100 dark:border-gray-600 dark:hover:border-gray-500 dark:hover:bg-gray-600">


        <div class="center">
          <ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)"
                         accept=".json"
                         dropZoneClassName="border-none"
                         (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)" contentClassName="border-none">
            <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
              <div *ngIf="!filename" class="flex flex-col items-center justify-center pt-5 pb-6">
                <svg class="w-8 h-8 mb-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 16">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 13h3a3 3 0 0 0 0-6h-.025A5.56 5.56 0 0 0 16 6.5 5.5 5.5 0 0 0 5.207 5.021C5.137 5.017 5.071 5 5 5a4 4 0 0 0 0 8h2.167M10 15V6m0 0L8 8m2-2 2 2"/>
                </svg>
                <p class="mb-2 text-sm text-gray-500 dark:text-gray-400"><span class="font-semibold">Click to upload</span> or drag and drop</p>
                <p class="text-xs text-gray-500 dark:text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
              </div>
              <div *ngIf="filename" class="">
                <i class="bi bi-file"></i>{{filename}}
              </div>
            </ng-template>
          </ngx-file-drop>
        </div>

        <input id="dropzone-file" type="file" class="hidden" [disabled]="filename" (drop)="uploadFile($event)" (change)="uploadFile($event)" />
      </label>
    </div>

  </div>
  <div class="gap-4 flex w-full justify-content-end py-4">
    <button class="btn btn-danger" (click)="closeModal()">Close</button>
    <button class="btn btn-success" [disabled]="!selectedCal" (click)="import()">Import</button>
  </div>
</div>
