<div class="public-cal-card max-w-sm p-6 bg-white rounded-lg shadow dark:bg-gray-800 ">
  <div class="flex flex-row justify-between align-items-center">
    <a>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:accent-font-col">{{ config.title }}</h5>
    </a>
    <label class="text-center rounded-2xl p-1 text-xs"
           [ngClass]="config.alreadyAdded ? 'bg-added' : 'bg-notadded'">{{ config.alreadyAdded ? 'Already Added' : 'Add to collection' }}</label>
  </div>
  <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ config.description }}</p>
  <a (click)="openConfigModal()"
     class="inline-flex cursor-pointer items-center px-3 py-2 text-sm font-medium text-center text-font-col bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
    Read more
    <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
         viewBox="0 0 14 10">
      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 5h12m0 0L9 1m4 4L9 9"/>
    </svg>
  </a>
</div>
