<div *ngIf="successMessage" class="alert alert-success">
  {{ successMessage }}
</div>

<div *ngIf="mode === ResetPasswordMode.Forgot">
  <!-- Forgot Password Form -->
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <!-- Logo and headline -->
    <div class="mb-8 w-128 mx-auto">
      <h1 class="text-2xl font-semibold">Reset your password</h1>
      <p class="text-black">
        Enter your email address that you use with your account to continue.
      </p>
    </div>
    <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="form-group space-y-6 mt-12">
        <div *ngIf="errors.auth" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Authentification problems!</strong> {{ errors.auth }}
          <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Email input -->
        <div class="relative mx-auto w-128">
          <input type="email"
            class="form-control peer block bg-white p-4 h-10 w-72 rounded-lg text-black placeholder-transparent ring-2 px-2 ring-blue focus:ring-blue focus:outline-none focus:border-blue"
            formControlName="email" id="inputEmail" placeholder="Email" aria-describedby="emailHelp" />
          <label for="inputEmail"
            class="absolute left-0 -top-3.5 text-sm transition-all bg-white px-1 mx-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-blue-dark peer-placeholder-shown:top-2.5 peer-focus:-top-3.5 peer-focus:text-black peer-focus:text-sm">
            Email
          </label>
          <div *ngIf="submitted && emailForm.controls.email.errors" class="error-messages">
            <small class="form-text error-text" *ngIf="emailForm.controls.email.errors.required">An email address is
              required!</small>
            <small class="form-text error-text" *ngIf="emailForm.controls.email.errors.email">A valid email address is
              required!</small>
          </div>
        </div>
        <!-- Login button -->
        <div class="relative mx-auto w-128">
          <button type="submit" (click)="onSubmit()"
            class="inline-block rounded bg-blue px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-dark hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-dark focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-dark active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            [ngClass]="{ 'w-72': isMobileView, 'w-full': !isMobileView }" data-te-ripple-init
            data-te-ripple-color="light"> Continue
          </button>
        </div>
      </div>
    </form>
  </div>
</div>



<div *ngIf="mode === ResetPasswordMode.Reset">
  <!-- Reset Password Form -->
  <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
    <input type="password" formControlName="newPassword" placeholder="New Password">
    <input type="password" formControlName="confirmPassword" placeholder="Confirm New Password">
    <button type="submit">Reset Password</button>
  </form>
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <!-- Logo and headline -->
    <div class="mb-8 w-128 mx-auto">
      <h1 class="text-2xl font-semibold">Reset your password</h1>
    </div>
    <form class="form" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group space-y-6 mt-12">
        <div *ngIf="error" class="alert alert-warning alert-dismissible fade show" role="alert">
          <strong>Authentification problems!</strong> {{ errorMessage }}
          <button type="button" (click)="vanishError()" class="close" data-dismiss="alert" aria-label="Close"></button>
        </div>

        <!-- Password input -->
        <div class="from-group relative mx-auto w-128">
          <input type="password"
            class="form-control peer block bg-white p-4 h-10 w-72 rounded-lg text-black placeholder-transparent ring-2 px-2 ring-blue focus:ring-blue focus:outline-none focus:border-blue"
            formControlName="password" id="password" placeholder="Password" />
          <label for="password"
            class="absolute left-0 -top-3.5 text-sm transition-all bg-white px-1 mx-1 peer-placeholder-shown:text-base peer-placeholder-shown:text-blue-dark peer-placeholder-shown:top-2.5 peer-focus:-top-3.5 peer-focus:text-black peer-focus:text-sm">
            Password
          </label>
          <div *ngIf="submitted && resetForm.controls.password.errors">
            <small class="form-text error-text" *ngIf="resetForm.controls.password.errors.minlength">Passwords are
              required be be at least 8 characters long!</small>
            <small class="form-text error-text" *ngIf="resetForm.controls.password.errors.required">A password is
              required!</small>
            <small class="form-text error-text" *ngIf="resetForm.controls.password.errors.pattern">Passwords are
              required to include lower- and uppercase letters and numbers!</small>
          </div>
        </div>

        <!-- Login button -->
        <div class="relative mx-auto w-128">
          <button type="submit" (click)="onSubmit()"
            class="inline-block rounded bg-blue px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-font-col shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-blue-dark hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-blue-dark focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-blue-dark active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)]"
            [ngClass]="{ 'w-72': isMobileView, 'w-full': !isMobileView }" data-te-ripple-init
            data-te-ripple-color="light">
            Save
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
