<div class="flex flex-col p-3 gap-3">
  <div class="flex flex-row justify-between align-items-center">
    <h3 class="modal-title">{{ config.title }}</h3>
      <label class=" rounded-2xl p-1 text-xs" [ngClass]="alreadyAdded ? 'bg-added' : 'bg-notadded'">{{ alreadyAdded ? 'Already Added' : 'Add to colelction' }}</label>
  </div>
  <select name="calendar"
          class="selectiondropdown form-control"
          id="calendar"
          placeholder="Calendar"
          [(ngModel)]="selectedCal"
          (ngModelChange)="onCalendarChange($event)">

  >
    <option [value]="null">None</option>
    <option *ngFor="let item of calendars" [value]="item.id">{{ item.name }}</option>
  </select>
  <div class="flex">
    <p>{{ config.description }}</p>
  </div>
  <div class="flex flex-col gap-2" *ngFor="let rule of config.rules">
    <app-rule-fold [rule]="rule"></app-rule-fold>
  </div>
  <div class="flex flex-row justify-end gap-3">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close('Close click')">Close</button>
    <button [disabled]="!selectedCal && !this.alreadyAdded" type="button" class="btn btn-secondary" (click)="removeFromCalendar()">{{ 'Remove From Calendar' }}</button>
    <button [disabled]="!selectedCal || this.alreadyAdded" type="button" class="btn btn-primary" (click)="addToCalendar()">{{ 'Preview in selected Calendar' }}</button>
  </div>
</div>
