<div
  *ngIf="error"
  class="alert alert-warning alert-dismissible fade show"
  role="alert"
>
  <strong>Authentication problems!</strong> {{ errorMessage }}
  <button
    type="button"
    (click)="vanishError()"
    class="close"
    data-dismiss="alert"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">
            {{ editMode ? "Edit a Calendar" : "Import a Calendar" }}
          </h3>
        </div>

        <div class="card-body">
          <form
            class="form space-y-5"
            [formGroup]="importForm"
            (ngSubmit)="importCalendar()"
          >
              <div class="form-group ">
                <div class="flex flex-row">
                  <div class="form-group w-full">
                    <label for="inputName">Calendar Name</label>
                    <input
                      type="text"
                      name="name"
                      formControlName="name"
                      class="form-control"
                      id="inputName"
                      aria-describedby="usernameHelp"
                      placeholder="Enter a calendar name"
                    />
                    <div *ngIf="submitted && importForm.controls.name.errors" class="error">
                      <small class="form-text text-warning" *ngIf="importForm.controls.name.errors.required">
                        A Name is required!
                      </small>
                    </div>
                  </div>

                  <div class="form-group ml-4">
                    <label for="inputColor">Color</label>
                    <input
                      type="color"
                      name="color"
                      formControlName="color"
                      class="form-control"
                      id="inputColor"
                      aria-describedby="usernameHelp"
                      placeholder="Choose a calendar color"
                      style="width: 38px; height: 38px; padding: 5px;"
                    />
                    <div *ngIf="submitted && importForm.controls.color.errors" class="error">
                      <small class="form-text text-warning" *ngIf="importForm.controls.color.errors.required">
                        A Color is required!
                      </small>
                    </div>
                  </div>
                </div>
              </div>



            <div class="form-group">
              <label>Import Source</label>
              <select
                class="form-control"
                formControlName="importSource"
                (change)="onImportSourceChange()"
              >
                <option value="url">URL</option>
                <option value="file">File</option>
              </select>
            </div>

            <div *ngIf="isURLImport" class="form-group">
              <div class="form-group">
                <label for="inputLink">Calendar Import URL</label>
                <input
                  type="url"
                  name="link"
                  formControlName="link"
                  class="form-control"
                  id="inputLink"
                  placeholder="Calendar URL"
                />
                <div *ngIf="submitted && importForm.controls.link.errors" class="error">
                  <small class="form-text text-warning" *ngIf="importForm.controls.link.errors.required">
                    A link is required!
                  </small>
                </div>
              </div>
            </div>

            <div *ngIf="!isURLImport" class="form-group">
              <label for="inputFile">Calendar File</label>
              <input
                type="file"
                name="file"
                class="form-control"
                id="inputFile"
                (change)="onFileSelected($event)"
              />
              <div *ngIf="selectedFile">
                <small class="form-text text-popover">
                  Current file: {{ selectedFile.name }}
                </small>
              </div>
              <small class="form-text text-warning" *ngIf="!selectedFile && submitted">
                An iCal file is required!
              </small>
            </div>

            <button
              type="button"
              (click)="importCalendar()"
              [disabled]="
                !importForm.valid ||
                (isURLImport && !importForm.controls.link.value) ||
                (!isURLImport && !selectedFile)
              "
              class="btn btn-success float-right"
            >
              {{ editMode ? "Edit" : "Import" }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
